<!DOCTYPE html>
<html lang="de">
    
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>CYK-Algorithmus</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css"/>
        <script src="{{ site.baseurl }}/assets/js/script.js"></script>
    </head>
    
    <body>

        <div class="navbar">
            <a href="https://www.tcs.ifi.lmu.de/">LMU Theoretische Informatik Webseite</a>
            <div class="dropdown">
              <button class="menu">Menüauswahl</button>
              <div class="dropdown-content">
                <a href="{{ site.baseurl }}/">Startseite</a>
                <a href="{{ site.baseurl }}/calculate/">Berechnen</a>
                <a href="{{ site.baseurl }}/theory/">Theorie und Beispiel</a>
                <a href="{{ site.baseurl }}/contact/">Kontakt</a>
              </div>
            </div>
          </div>
          
          <style>

p{
  font-size: 20px;
}

li {
  font-size: 20px;
}

hi2 {
  text-decoration: underline;
}

hi3 {
  text-decoration: underline;
}

</style>


        <div style="padding: 20px;">
            <h1>Cocke-Younger-Kasami-Algorithmus - Startseite</h1>
            <p>
            Willkommen auf meiner Webseite. Hier wird das Thema Cocke-Younger-Kasami-Algorithmus behandelt. <br>
            <br>
            Akutell befinden Sie sich auf der Startseite, wo die wichtigsten Informationen hier bereitgestellt werden und auch als Guide für die Navigierung der Webseite dient.
            <br>
            <br>
            <hi2><b>LMU Theoretische Informatik Webseite</b>:</hi2> Sie werden auf die Hauptwebseite der Lehr- und Forschungseinheit für Theoretische Informatik und Theorembeweisen weitergeleitet.
            <br>
            <br>
            <br>
            <hi3><b>Menüauswahl</b></hi3>: Neben der Startseite gibt es vier weitere Seiten.
            <div style="padding: 0px 50px;">
                  <li><b>Berechnen</b>: Dort können Sie mit dem neuen CYK-Algorithmus berechnen.</li>
                  <li><b>Theorie und Beispiel</b>: Die Theorie zum neuen CYK-Algorithmus wird auf dieser Webseite erklärt.<br>
                  Zur Veranschaulichung wird der neue CYK-Algorithmus mit einem Beispiel etwas genauer erläutert.</li>
                  <li><b>Kontakt</b>: Falls Sie noch weitere Fragen haben, dann können Sie mich natürlich anschreiben. Meine Kontaktdaten habe ich auf dieser Seite angegeben.</li></div>
            </p>
          </div>


            <hr />

            <footer>
                Copyright &copy; 2024-present <a target="_blank" href="https://aahash.tk/">Aahash Sundararuban</a>
            </footer>

        </div>
    </body> 
</html>